* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


body{
	background: #43fc00ad;
}
.container {
	background: #00cefc;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	border: 1px solid #FFFFFF;
	border-radius: 0 0 10px 10px;
	padding: 20px;
}



.weather-title{
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
	color: #6d1cd6;
}

.weather-form{
	margin: 20px auto;
	display: flex;
}
.weather-input{
	font-size: 20px;
	padding: 5px 15px ;
	height: 40px;
	width: 300px;
	border-radius: 10px 0 0 10px;
	transition: .3s ease;
}


.weather-btn{
	background: #fce405;
	border-radius: 0 5px 5px 0;
	padding: 0px 7px;
	transition: .3s ease;
	color: #000000;
}

.weather-btn:hover{
	background: #fcb605;
	color: #999999;
}
.weather-btn:active{
	background: #000000;
}

.weather-items{
	display: flex;
	flex-direction: column;
}

.weather-item:first-child{
	animation-duration: .75s;
	animation-name: slidefromhigh1;
}
.weather-item:nth-child(2){
	animation-duration: .75s;
	animation-name: slidefromhigh2;
}
.weather-item:nth-child(3){
	animation-duration: .75s;
	animation-name: slidefromhigh3;
}

.weather-item{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #FFFFFF;
}

@keyframes slidefromhigh1 {
	from {
		opacity: 0;
		transform: translateY(-71px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes slidefromhigh2 {
	from {
		opacity: 0;
		transform: translateY(-142px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes slidefromhigh3 {
	from {
		opacity: 0;
		transform: translateY(-213px);
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}


.item-city{
	font-size: 24px;
	cursor: pointer;
}

.item-right{
	display: flex;
	align-items: center;
}

.item-delete{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: red;
	padding: 10px 5px 12px 5px;
	cursor: pointer;
	transition: .3s ease;
}
.item-delete:hover{
	border-radius: 10px;
	background: #000000;
	color: #FFFFFF;
}
.item-delete:active{
	background: #999999;
	color: #fcb605;
}

.item-image{
	max-width: 50px;
}